---
services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: sourcetoad_mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - st-internal
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: sourcetoad_phpmyadmin
    ports:
      - "8080:80"
    networks:
      - st-internal
    environment:
      PMA_HOSTS: mariadb1108,mariadb1104,mariadb1011
      PMA_USER: root
      PMA_PASSWORD: root
networks:
  st-internal:
    external: true
    name: st-internal
